:root{
    --roxo: #c78efd;
    --preto: #000000; 
}

body{
    background-color: (var(--roxo));
    color: var(--preto);
    margin: 0px;
}

.img-ursinho{
    width: 10%;
    border: solid;
    border-color: antiquewhite;
    border-radius: 10px;
    margin-right: 10px;
}
.img-ursinho-demo{
    width: 10%;
    border: solid;
    border-color: rgb(250, 235, 215);
    border-radius: 50%;
}
.preço{
    display: flex;
    align-items: center;
}
.bixinhos{
    margin: 20px;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;
    margin: 0px;
}
hr{
    border: solid 2px antiquewhite;
}
.ursinho{
    display: block; 
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.apresentaçao{
    font-size: smaller;
    font-style: oblique;
margin: 20px;
}
.equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    border-radius: 30px;
    border: 3px solid rosybrown;
    margin: 20px;
    padding: 20px;
    background-color: antiquewhite;
}

.foto-equipe{
    width: 30%;
    border: 3px solid;
    border-radius: 30px;
margin: 20px;
border-color: rosybrown;
}
