:root{
    --roxo: #c78efd;
    --preto: #000000; 
}

body{
    background-color: (var(--roxo));
    color: var(--preto)
}

img{
    width: 10%;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.img-ursinho{
    width: 10%;
}

.ursinho{
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}